<footer>
  <div class="grid-x expanded">
    
  	<div class="large-4 medium-4 small-12 cell show-for-medium">
      <ul class="vertical menu text-center medium-text-left">
        <li class="menu-text">© Copyright</li>
        <li class="menu-text">All rights reserved</li>
        <li><a href="http://www.wminewmedia.com/privacy/">Privacy</a></li>
        <li><a href="http://www.wminewmedia.com/t&c/">Terms</a></li>
      </ul>
  	</div>
  	
  	<div class="large-4 medium-4 small-12 cell">
    	<ul class="vertical menu text-center medium-text-left">
        <li><a href="{{site.social.twitter}}" target="_blank">Twitter</a></li>
        <li><a href="{{site.social.instagram}}" target="_blank">Instagram</a></li>
        <li><a href="{{site.social.facebook}}" target="_blank">Facebook</a></li>
        <li><a href="{{site.social.youtube}}" target="_blank">YouTube</a></li>
      </ul>
  	</div>
  	
  	<div class="large-4 medium-4 small-12 cell show-for-medium">
  		<ul class="vertical menu text-center medium-text-left">
        <li class="menu-text">Contact</li>
        <li><a href="mailto:hello@jamielawsonmusic.com">General</a></li>
        <li><a href="mailto:press@jamielawsonmusic.com">Press Inquiries</a></li>
        <li><a href="mailto:booking@jamielawsonmusic.com">Booking</a></li>
      </ul>
  	</div>
  	
  </div>
</footer>