<footer>
  
  <div class="grid-x grid-margin-y align-center">
  	<div class="shrink cell">
      <ul class=" menu text-center">
        <li><a href="{{site.social.facebook}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
        <li><a href="{{site.social.instagram}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
        <li><a href="{{site.social.twitter}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
        <li><a href="{{site.social.youtube}}" target="_blank"><svg class="icon icon-play"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play"></use></svg></a></li>
        <li><a href="{{site.social.youtube}}" target="_blank"><svg class="icon icon-spotify"><use xlink:href="/assets/icons/symbol-defs.svg#icon-spotify"></use></svg></a></li>
      </ul>
  	</div>
  </div>
  
  <div class="grid-x grid-margin-y align-center">
  	<div class="shrink cell">
      <ul class="menu text-center show-for-medium">
        <li><a href="http://atlanticrecords.co.uk">© Copyright {{site.company}}</a></li>
        <li><a href="http://www.wminewmedia.com/privacy/">Privacy</a></li>
        <li><a href="http://www.wminewmedia.com/t&c/">Terms</a></li>
      </ul>
      <ul class="vertical menu text-center show-for-small-only">
        <li><a href="http://atlanticrecords.co.uk">© Copyright {{site.company}}</a></li>
        <li><a href="http://www.wminewmedia.com/privacy/">Privacy</a></li>
        <li><a href="http://www.wminewmedia.com/t&c/">Terms</a></li>
      </ul>
  	</div>
  </div>
  
</footer>