<div class="item">
		<a href="{{ project.url }}"><img src="{{ project.image }}" alt="{{project.title}}"></a>
		<div class="item__title text-center" data-aos="fade-in">
      
      <ul class="vertical menu accordion-menu" id="music-meta" data-accordion-menu>
          <li><h5>{{ project.title }}</h5></li>
					<li>
						<a href="#">Tracklist</a>
						<ul class="menu vertical nested">
						{% for track in project.tracks %}
							<li>{{track}}</li>
						{% endfor %}
						</ul>
					</li>
					<li>
						<a href="#">Buy</a>
						<ul class="menu vertical nested">
							{% if {{project.itunes}} %}
							<li><a href="{{project.itunes}}" target="_blank">iTunes</a></li>
							{% endif %}
							{% if {{project.amazon}} %}
							<li><a href="{{project.amazon}}" target="_blank">Amazon</a></li>
							{% endif %}
							{% if {{project.google}} %}
							<li><a href="{{project.google}}" target="_blank">Google</a></li>
							{% endif %}
						</ul>
					</li>
					{% if {{project.stream}} %}
					<li>
						<a href="#">Stream</a>
						<ul class="menu vertical nested">
							<li><a href="{{project.stream}}" target="_blank">Spotify</a></li>
						</ul>
					</li>
					{% endif %}
				</ul>
				
		</div>
</div>