---
layout: default
---

<!-- Hero -->
<section>
<div class="home__hero-image grid-margin-y" style="background-image: url({{page.hero-image}})">
  <div class="grid-x align-middle align-center" style="height: 100%;">
    <div class="small-10 cell home__hero-text text-right" data-aos="fade-in" data-aos-delay="500">
      
      <div class="home__hero-text__album">
        <h1>Happy Accidents</h1>
        <h1>Out 29 September</h1>
        <h3>Pre-order Now</h3>
        
        <ul class="menu simple align-right">
          <li><a href="https://www.amazon.co.uk/s/ref=nb_sb_noss_1?url=search-alias%3Daps&field-keywords=jamie+lawson&rh=i%3Aaps%2Ck%3Ajamie+lawson&tag=warnermusicuk-21&ie=UTF8&linkCode=as2&ascsubtag=3831ee29f3923147464fc5f84ffe7903">Amazon</a></li>
          <li><a href="https://play.google.com/store/music/album/Jamie_Lawson_Jamie_Lawson?id=B7hhcww4go57npdfkftdk6n4i6u&PAffiliateID=100l3pX&PCamRefID=LFV_3831ee29f3923147464fc5f84ffe7903">Google Play</a></li>
          <li><a href="https://itunes.apple.com/gb/album/happy-accidents-deluxe/id1260644213?ls=1&app=music&at=10lqoH&ct=LFV_3831ee29f3923147464fc5f84ffe7903">Apple Music</a></li>
        </ul>
      </div>
      
      <div class="home__hero-text__album">
        <h3>Listen to new song ‘Can’t See Straight’</h3>
        
        <ul class="menu simple align-right">
          <li><a href="http://open.spotify.com/album/7kc7AR3bhh7jMV1Y0PvS00" target="_blank">Spotify</a></li>
          <li><a href="https://itunes.apple.com/gb/album/happy-accidents-deluxe/id1260644213?ls=1&app=music&at=10lqoH&ct=LFV_304c2d6ccfd75f5d6c6205045baf9287">Apple Music</a></li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
</section>
<!-- End Hero -->

<!-- Sign-Up -->
<section>
<div class="home__sign-up grid-container" data-aos="fade-in" id="sign-up">
  
  <div class="grid-x grid-padding-x grid-margin-y align-center">
  	<div class="small-11 medium-10 large-8 cell text-center">
      <h2>{{page.sign-up-text}}</h2>
  	</div>
  </div>
  
  <div class="grid-x grid-margin-y align-center">
    <div class="shrink cell">
      <form>
      <div class="input-group">
        <input class="input-group-field" type="text" placeholder="Your Email Address">
        <div class="input-group-button">
        <input type="submit" class="button" value="Submit">
        </div>
      </div>
      </form>
    </div>
  </div>
  
  <div class="grid-x align-center">
    <div class="shrink cell">
      <small>No spam ever. Unsubscribe with one click any time.</small>
    </div>
  </div>
</section>
<!-- End Sign-Up  -->


<!-- Featured Videos -->
<section>
  <div class="grid-x videos__list" id="featured-video-gallery">
    {% assign videos = site.videos | reverse | where: "is-featured", "true" %}
    {% for video in videos limit:6 %}
      <div class="cell excerpt" data-src="{{video.video}}" data-aos="fade-in">
      {% include video.html %}
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Videos -->


<!-- Releases -->
<section>
<div class="grid-x grid-padding-x grid-padding-y align-center">
	<div class="medium-10 large-8 cell text-center">
      <h1>Releases</h1>
      <a href="/releases">View All</a>
	</div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3 releases__list">
    {% assign releases = site.releases | reverse %}
    {% for release in releases limit:6 %}
      <div class="cell" data-aos="fade-in">
      {% include release.html %}
      </div>
    {% endfor %}
  </div>
</div>
</section>
<!-- End Releases -->


<!-- Videos -->
<section>
<div class="grid-x grid-padding-x grid-padding-y align-center">
	<div class="medium-10 large-8 cell text-center">
      <h1>Videos</h1>
      <a href="/videos">View All</a>
	</div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3 videos__list" id="video-gallery">
    {% assign videos = site.videos | reverse %}
    {% for video in videos limit:6 %}
      <div class="cell excerpt" data-src="{{video.video}}" data-aos="fade-in">
      {% include video.html %}
      </div>
    {% endfor %}
  </div>
</div>

</section>
<!-- End Videos -->

<!-- Live -->
<section class="home__live">
<div class="grid-x grid-padding-x grid-padding-y align-center">
	<div class="medium-10 large-8 cell text-center">
      <h1>Live</h1>
	</div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell" data-aos="fade-in">
      <a href="http://www.songkick.com/artists/36920" class="songkick-widget" data-theme="light" data-detect-style="true" data-font-color="#333333" data-background-color="transparent"></a>
<script src="//widget.songkick.com/widget.js"></script>
      </div>
  </div>
</div>
</section>
<!-- End Videos -->