---
layout: default
---

<!-- Hero -->
<section>
  <div class="home__hero-image" style="background-image: url({{page.hero-image}})">
    <div class="grid-x align-middle align-center" style="height: 100%;">
      <div class="small-10 medium-10 cell home__hero-text text-left medium-text-right" data-aos="fade-in" data-aos-delay="500">
        <div class="home__hero-text__album">
          <h1>Happy Accidents</h1>
          <h1>Out 29 September</h1>
          <h3><a href="https://ad.gt/happyaccidents">Pre-order Now</a></h3>
          
          <ul class="menu simple align-right show-for-medium">
            <li><a href="https://lnk.to/happyaccidentsAW/itunes">Apple Music</a></li>
            <li><a href="https://lnk.to/happyaccidentsAW/amazon">Amazon</a></li>
            <li><a href="https://lnk.to/happyaccidentsAW/google-play">Google Play</a></li>
            <li><a href="https://lnk.to/happyaccidentsAW/artiststore">Webstore</a></li>
          </ul>
        </div>
        
        <div class="home__hero-text__listen">
          <h3><a href="https://ad.gt/cantseestraight" target="_blank">Listen to new song ‘Can’t See Straight’</a></h3>
          
          <ul class="menu simple align-right show-for-medium">
            <li><a href="https://atluk.lnk.to/cantseestraightAW/spotify">Spotify</a></li>
            <li><a href="https://atluk.lnk.to/cantseestraightAW/applemusic">Apple Music</a></li>
            <li><a href="https://atluk.lnk.to/cantseestraightAW/deezer">Deezer</a></li>
          </ul>
        </div>
      </div> 
    </div> 
  </div>
  
  <div class="home__hero-arrow">
    <div class="grid-x align-center">
      <div class="shrink cell">
        <a href="#home__sign-up" data-smooth-scroll><svg class="icon icon-arrow-down"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow-down"></use></svg></a>
      </div>
    </div>
  </div>
</section>
<!-- End Hero -->

<!-- Sign-Up -->
<section id="home__sign-up">
<div class="home__sign-up grid-container" data-aos="fade-in">
  
  <div class="grid-x grid-padding-x grid-margin-y align-center">
  	<div class="small-11 medium-10 large-8 cell text-center">
      <h2>{{page.sign-up-text}}</h2>
  	</div>
  </div>
  
  <div class="grid-x grid-margin-y align-center">
    <div class="shrink cell">
      
      <form action="https://signup.wmg.com/register" method="post"> 
      <input type="hidden" name="list_id" value="71521">
      <input name="mid" type="hidden" value="6355843">
      <div class="input-group">
        <input class="input-group-field" type="text" placeholder="Your Email Address"  name="email">
        <div class="input-group-button">
        <input type="submit" class="button" value="Submit">
        </div>
      </div>
      </form>

    </div>
  </div>
  
  <div class="grid-x align-center">
    <div class="shrink cell">
      <small>No spam ever. Unsubscribe with one click any time.</small>
    </div>
  </div>
</section>
<!-- End Sign-Up  -->


<!-- Featured Videos -->
<section id="home__featured-videos">
  <div class="grid-x videos__list" id="featured-video-gallery">
    {% assign videos = site.videos | reverse | where: "is-featured", "true" %}
    {% for video in videos limit:6 %}
      <div class="cell excerpt" data-src="{{video.video}}" data-aos="fade-in">
      {% include featured-video.html %}
      </div>
    {% endfor %}
  </div>
</section>
<!-- End Videos -->


<!-- Releases -->
<section id="home__releases">
<div class="grid-x grid-padding-x grid-padding-y align-center">
	<div class="medium-10 large-8 cell text-center">
      <h1>Releases</h1>
      <a href="/releases" class="view-all">View All</a>
	</div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-3 large-up-3 releases__list">
    {% assign releases = site.releases | reverse %}
    {% for release in releases limit:3 %}
      <div class="cell" data-aos="fade-in">
      {% include release.html %}
      </div>
    {% endfor %}
  </div>
</div>
</section>
<!-- End Releases -->

<!-- Videos -->
<section id="home__videos">
<div class="grid-x grid-padding-x grid-padding-y align-center">
	<div class="medium-10 large-8 cell text-center">
      <h1>Videos</h1>
      <a href="/videos" class="view-all">View All</a>
	</div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-3 videos__list" id="video-gallery">
    {% assign videos = site.videos | reverse %}
    {% for video in videos limit:6 %}
      <div class="cell excerpt" data-src="{{video.video}}" data-aos="fade-in">
      {% include video.html %}
      </div>
    {% endfor %}
  </div>
</div>
</section>
<!-- End Videos -->

<!-- Live -->
<section id="home__live">
<div class="grid-x grid-padding-x grid-padding-y align-center">
	<div class="medium-10 large-8 cell text-center">
      <h1>Live</h1>
	</div>
</div>

<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
      <div class="cell" data-aos="fade-in">
      <a href="http://www.songkick.com/artists/36920" class="songkick-widget" data-theme="light" data-font-color="#333333" data-background-color="transparent"></a>
<script src="//widget.songkick.com/widget.js"></script>
      </div>
  </div>
</div>
</section>
<!-- End Videos -->